name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Buildozer
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip openjdk-17 git zip unzip
        pip3 install buildozer
    - name: Build APK
      run: |
        buildozer android debug
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: bin/*.apk